<div class="page-header">
    <h1>
        <span>Угадай ноту!</span>
        <span *ngIf="isGameOn" [ngClass]="indicatorClassName">{{score}}</span>
    </h1>
    <p *ngIf="isGameOn">{{timer}}</p>
    <p>
        <button class="btn btn-success" (click)="startGame(5)" *ngIf="!isGameOn">Начать игру</button>
        <button class="btn btn-success" (click)="stopGame()" *ngIf="isGameOn">Остановить игру</button>
    </p>
    <p>{{resultText}}</p>
</div>

<div class="stave-wrapper" *ngIf="isGameOn">
    <div [ngClass]="currentNote.className"></div>
</div>

<div class="controls">
    <ul class="controls" *ngIf="isGameOn">
        <li class="btn btn-default" *ngFor="let notename of notenames" (click)="changeNote(notename)">{{notename}}</li>
    </ul>
</div>